html {
	background: linear-gradient(25deg, rgb(245, 210, 93), rgb(242, 191, 78));
	background-attachment: fixed;
}

body {
	margin: 0;
	padding-top: env(safe-area-inset-top);
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

a, input, button {
	touch-action: manipulation;
}

p, h1, h2, h3, button {
	margin: 0;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2vw;
	margin-top: 2.5rem;
	padding: 4vh 2vw;
}

.heroWrapper, .monsterWrapper {
	display: flex;
	flex-direction: column;
}

.monsters h2 {
	text-align: right;
}

.combatPowerSummary {
	text-align: center;
	background: whitesmoke;
	box-shadow: 0px 4px 10px rgba(0,0,0,.3);
	z-index: 2;
}

.combatPowerSummary, .monsters h2, .heroes h2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: .5rem 2vw;
	line-height: 1.5rem;
}

.monsters, .heroes {
	position: relative;
	flex-grow: 1;
	padding-bottom: 45px;
}

.monsters h2, .heroes h2 {
	z-index: 3;
}

.addHero, .addMonster {
	position: absolute;
	bottom: 0;
	height: 2.5rem;
	width: 100%;
	border: none;
	box-shadow: 0px 4px 10px rgba(0,0,0,.3);
	border-radius: 15px;
}